.App {
  text-align: center;
}

.App-todo {
  background-color: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.Todo {
  background: #ddd;
  width: 65%;
  padding: 1rem;
  min-height: 300px;
}
.Todo-list{background: #fff;border-radius: 5px;padding: 10px;padding-bottom: 3rem;}
.Todo-list h2 {font-weight: 200;color: 999;font-size: 3rem;letter-spacing: 1px;}
.input-group .form-control{
  background-color: white;
  color: #999;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid cadetblue;

}

.input-group .form-control:focus, .input-group .form-control:hover{
  overflow: hidden;
  border: 0;
  border-bottom: 1px solid rgb(0, 225, 255);
  
}
.btn{margin: 5px;}
.input-group .Btn-add {background: #9721be;color: #fff;}
.input-group .Btn-cancel {background: #eee;color: red;}

input::placeholder {text-align: left;font-size: 20px;font-weight: 200;text-transform: capitalize;}
.List {margin: 5px auto;padding: 10px 0;}
.Item {background: #fff;border-radius: 5px;padding: 5px;margin: 0;font-weight: 300;}
button.Remove {font-size: 25px; color: rgba(207, 76, 76, 0.6);
  font-weight: bold;text-align: left;margin: 0;padding: 0;
}
button.Remove:hover,button.Remove:focus {color: #f00;}